* {
    margin: 0; 
    padding: 0;
}

body {
    width: 100%; height: 100%;
    background-color: black;
}

img {
    position: relative;
    width: 100%; height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #6a1818;
    font-size: 13em;
}

h3 {
    font-size: 6em;
    color: #993C3C;
}

.boop, .bop {
    display: flex;
    flex-direction: column;
}

.bop {
    padding-top: 7em;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 5cap;
}

h2 {
    font-size: 4.5em;
    color: #6a1818;
}

h4 {
    font-size: 1.5em;
    color: #993C3C;
}

a {
    text-decoration: none;
}
